<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_Showroom.Properties.Settings.Roman_KursovoyConnectionString"
            connectionString="Data Source=DESKTOP-9VBOF0G;Initial Catalog=Roman_Kursovoy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>